<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>About Me Page</title>
	<link th:href="@{/styles/ProfilePage.css}" rel="stylesheet">
</head>
<body>
	<div class="left-bar"></div>
	<div class="right-bar"></div>
	<h1>About Me</h1>	
	<img th:src="@{/images/ProfilePicture.png}" th:alt="@{Picture Of Me}" width="256" height="256">
	<h2>Alexander Normal Paul Azzopardi</h2>
	<h4>Email - AlexAzzopardi12@hotmail.com</h4>    
	<h4>LinkedIn - www.linkedin.com/in/alexander-azzopardi-781983197/ </h4>
	<p>Hello my name is Alex and i'm a curious and conscientious graduate with an MSci in Physics, with a passion for continually developing new skills, offering a dynamic set of proven analytical, quantitative and interpretative skills as well as a record of high academic achievement and programming experience. A conjunction of exceptional interpersonal and problem-solving abilities to provide excellent customer service, leadership and an innovatively driven mindset. I wish to contribute my passion for software development and technical aptitude for problem-solving towards my career in a challenging and ever-changing environment. </p> 
	<h3>Why a career in software development?</h3>
	<p>I am currently pursuing a career in the software industry which may seem quite different from what i studied at university ,but all the basic skill are the same. I chose this career path because i find that it is something which i am not just good at ,but something i also enjoy; I feel like these come hand in hand.</p>
	<h3>My Coding Experience</h3>
	<h4>University</h4>
	<p>At university I took part in various coding modules, where I produce physical simulations, which allowed me to develop skills in Python and C++. Also, my final project was a physical simulation of swarming elongated particles inside a fluid written in C++.</p>
	<h4>Internship</h4>
	<p>I took part in a summer internship during 2021 in which worked in a small team used C# to produce various microservices. This allowed me to get a first hand understanding of what a software development career would look like which cemented my decision for what career path I wanted to take.</p>
	<h4>WileyEdge Academy</h4>
	<p>I was lucky enough to be able to take part in a Java Full Stack Spring boot and Rest API bootcamp in which i was able to get a thorough understanding of Object Oriented Programming as well as get a hands on approach with Java Spring boot. It also touch on other technologies such as Git, SQL, HTML and CSS.</p>
	<form action="./">
		<input type="submit" value="Back"><br><br>
	</form>
</body>
</html>